<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>ورود</title>
  </head>
  <style>
    .btn:active {
      transition: all 100ms ease-in-out;
      transform: scale(0.9);
    }
  </style>
  <body>
    <form
      class="
        container
        mt-2
        d-flex
        justify-content-center
        align-items-center
        flex-column
      "
      style="height: 90vh"
    >
      <div class="mui-textfield mui-textfield--float-label">
        <input type="text" id="username" />
        <label for="">نام کاربری</label>
        <div id="emailHelp" class="error form-text"></div>
      </div>
      <div class="mui-textfield mui-textfield--float-label">
        <input id="password" type="password" />
        <label for="">کلمه عبور</label>
      </div>
      <button type="submit" class="mui-btn">ورود</button>
    </form>
    <script>
      document.querySelector("button").addEventListener("click", async (e) => {
        e.preventDefault();
        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;
        const error = document.querySelector(".error");
        if (username == "" || password == "")
          return (error.innerHTML = "لطفا فرم را پرکنید.");
        const data = await fetch("/loginAdmin", {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=utf-8",
          },
          body: JSON.stringify({ username, password }),
        });
        if (data.redirected) window.location.href = data.url;
        const errorRes = await data.json();
        if (errorRes) error.innerHTML = errorRes.error;
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
